.home-page {
    text-align: center;
    padding: 20px;
  }
  
  .home-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  h1{
    font-weight: 500;
  }